* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F5F5;
}

.navbar-wrapper {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.navbar {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.navbar img {
    width: 150px;
    object-fit: cover;
}

.hamburger-menu {
    cursor: pointer;
    display: none;
}


.menu ul {
    margin-left: 10px;
    display: flex;
    gap: 30px;
    align-items: center;
    list-style: none;
    padding-left: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #101928;
    font-weight: 500;
    font-size: medium;
    transition: .5s all ease;
}

.menu ul li a:hover {
    transition: .5s all ease;
    font-weight: bold;
}

.btn {
    display: flex;
    gap: 20px;
}

.btn button {
    width: 150px;
    padding: 15px;
    background-color:#FFFFFF ;
    border: 2px solid #545BE8;
    border-radius: 10px;
    color: #545BE8;
    font-weight: 800;
    cursor: pointer;
}

.btn button:first-child:hover {
    background-color: #545BE8;
    color: #FFFFFF;
}


.btn button:last-child{
    background-color: #545BE8;
    color: #FFFFFF;
    font-weight: 700;
}

.btn button:last-child:hover {
    background-color: #FFFFFF;
    border: 2px solid #545BE8;
    color: #545BE8;
}

.main-hero {
    overflow: hidden;
    padding-top: 100px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.main-btn {
    display: flex;
    gap: 20px;

}

.main-btn button {
    width: 155px;
    padding: 5px;
    background-color:#545BE8;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 800;
    cursor: pointer;
    border: none;
}

.main-btn img {
    width: 170px;
    object-fit: fill;
    cursor: pointer;
}

.hero-left {
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-left .animate {
    transform: translateX(-100%);
}

.hero-left.show-animate .animate {
    transform: translateX(0);
    animation: mainHero .5s ease;
    transition: 1s all ease;
}



.hero-left p:first-child {
    color: #545BE8;
    font-size: 18px;
}
.hero-left p span {
    font-weight: 800;
}

.hero-left p:nth-last-child(2) {
    color: #969696;
    font-weight: 500;
    font-size: 17px;
}

.hero-left h1 {
    color:#141E32;
    font-weight: 800;
    font-size: 50px;
}

.hero-left h1 span {
    color: #545BE8;
}

.hero-right {
    position: relative;
}

.hero-right .animate {
    transform: translateX(100%);
}

.hero-right.show-animate .animate {
    transform: translateX(0);
    animation: mainHero .5s ease;
    transition: 1s all ease;
}

@keyframes mainHero {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
    
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}





.hero-right img {
    padding: 20px;
    width: 500px;
    object-fit: cover;
    
}


.card-wrapper {
    background-color: #FFFFFF;
}

.card {
    position: relative;
    padding-bottom: 120px;
    padding-top: 80px;
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.card-left .animate {
    transform: translateX(-150%);
}

.card-left.show-animate .animate {
    transform: translateX(0);
    animation: mainHero .5s ease;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-left p:first-child{
    font-size: 16px;
    color: #545BE8;
}

.card-left p:nth-child(3) {
    color: #969696;
}

.card-left h2 {
    font-weight: 800;
    font-size: 30px;
    color: #141E32;
}

.card-right {
    display: flex;
    gap: 25px;
    flex: 2;
}


.card-right .animate{
    transform: scale(0.5);
}


.card-right.show-animate .animate {
    transform: scale(1);
    animation: mainHero .3s ease;
    transition: 1s all ease;
}



.card-items {
    cursor: pointer;
    border-radius: 15px;
    width: 230px;
    padding: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #545BE8;
    color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-items img {
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 4px;
}

.card-items p {
    font-size: small;
    color: #DDDDDD;
}

.arrow {
    display: flex;
    gap: 20px;
    position: absolute;
    right: 110px;
    bottom: 50px;
    cursor: pointer;
}

.card-right-arrow .animate {
    transform: translateX(-1200%);
}

.card-right-arrow.show-animate .animate {
    transform: translateX(0);
    animation: mainHero .5s ease;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.arrow img{
    width: 35px;
    padding: 5px;
    background-color:#F0C932 ;
    border-radius: 50%;
}

.wrapper-selection-course {
    background-image:linear-gradient(#545BE8,#272DB0) ;
}

.selected-course-section {
    display: flex;
    gap: 50px;
    padding-top: 40px;
    padding-bottom: 60px;
    max-width: 1000px;
    margin:0px auto;
}

.left-course img{
    width: 400px;
}

.right-course {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 450px;
}

.right-course p:first-child{
    color: #F0C932;
    font-size: 15px;
}

.right-course h2{
    font-size: 45px;
    font-weight: 800;
    color: #FFFFFF;
}

.right-course p:nth-child(3) {
    color: #DDDDDD;
    font-size: 17px;
}

.member-course {
    color: #DDDDDD;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: center;
}

.member-course .animate {
    transform: scale(0.5);
}

.member-course.show-animate .animate {
    transform: scale(1);
    animation: mainHero .5s ease;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.member-course h3 {
    font-size: 25px;
    color: #F0C932;
}

.member-course p {
    font-size: medium;
}

.member {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.wrapper-available-course {
    background-color: #FFFFFF;
    padding-bottom: 100px;
    padding-top: 45px;
}

.course-selection {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 35px;
}

.left-course-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    flex: 2;
}

.left-course-selection .animate {
    transform: scale(0);
}

.left-course-selection.show-animate .animate {
    transform: scale(1);
    animation: mainHero .5s ease;
    transition: 1s all cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card-course {
    width: 290px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
}

.card-course img {
    width: 290px;
}

.card-title {
    color: #141E32;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
}

.card-title p:nth-child(2){
    cursor: pointer;
    color:#545BE8;
    font-size: small;
}

.card-title h3 {
    font-weight: bold;
}

.card-sub-title {
    display: flex;
    font-size: small;
    gap: 10px;
    color: #969696;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
}

.label-course {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #545BE8;
    color: #FFFFFF;
    padding: 10px;
}
.price-card {
    font-size: 17px;
    font-weight: bold;
    position: absolute;
    bottom: 95px;
    right: 15px;
    color: #FFFFFF;
    z-index: 1;
}

.gradient-black{
    position: absolute;
    height: 65px;
    width: 100%;
    bottom: 76px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.911));
}

.right-course-selection .animate {
    transform: scale(0);
}

.right-course-selection.show-animate .animate {
    transform: scale(1);
    animation: opacity .5s ease;
    transition: 1s all ease;
}


.right-course-selection {
    display: flex;
    flex: 1;
    gap: 20px;
    flex-direction: column;
}

.right-course-selection p:first-child{
    color: #484fdd;
    font-size: 17px;
}

.right-course-selection h2{
    font-size: 45px;
    font-weight: 800;
    color: #141E32;
}

.right-course-selection p:nth-child(3) {
    color: #969696;
}

.right-course-selection button {
    background-color: #545BE8;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
    width: 150px;
}

.testimoni {
    background-color: #FFFFFF;
}

.testimoni-card .animate {
    transform: scale(0);
}

.testimoni-card.show-animate .animate {
    transform: scale(1);
    animation: opacity .6s ease;
    transition: 1s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.testimoni h2 {
    padding-bottom: 35px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: #141E32;
}

.testimoni-card {
    padding-bottom: 100px;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}

.card-comment {
    width: 480px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.158);
}

.user-testimoni {
    padding: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-name {
    display: flex;
    gap: 7px;
    flex-direction: column;
    
}

.user-name p{
    font-size: small;
    color: #969696;

}

.user-testimoni img {
    width: 50px;
    border-radius: 50%;
}

.card-comment .star {
    cursor: pointer;
    width: 170px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.footer-wrapper {
    background-color: #393E46;
}

.footer {
    padding-top: 100px;
    width: 1000px;
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    gap: 65px;
}

.footer-left {
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 35px;
}

.footer-left p {
    color: #F4F4F4;
    font-size: 14px;
}

.footer-left img {
    width: 200px;
}

.social-media {
    display: flex;
    gap: 20px;
}

.social-media img{
    cursor: pointer;
    width: 35px;
}

.footer-right {
    display: flex;
}

.footer-nav {
    color: #F4F4F4;
    display: flex;
    gap: 50px;
}

.footer-nav h3 {
    font-size: 20px;
    padding-bottom: 20px;
}

.footer-nav p {
    margin-bottom: 20px;
    font-size: 14px;
    cursor: pointer;
}


/* tablet responsive */
@media screen and (max-width: 758px) {
    html {
        font-size: 62.5%;
    }

    .menu.aktif{
        right: 0;
	}

    .menu {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: #e2e2e2d3;
        width: 30rem;
        height: 100vh;
        transition: 0.3s all ease-in-out;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
    }

    .menu.aktif li a{
		padding: 10px;
		display: inline-block !important;
	}

    .btn {
        display: flex;
        flex-direction: column;
    }

    .hamburger-menu {
        display: block;
    }



    .main-hero {
        padding: 40px;
        padding-bottom: 60px;
        padding-top: 130px;
    }

    .main-hero .hero-left .main-btn{
        padding-top: 24px;
        display: flex;
        gap: 2px;
        
    }

    .main-hero .hero-right {
        display: none;
    }

    .card {
        padding: 40px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .card-right {
        padding-top: 25px;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
    }

    .card-items {
        font-size: 14px;
    }

    .card-left h2 {
        font-size: 36px;
    }

    .card-left p {
        font-size: medium;
    }

    .arrow {
        display: none;
    }


    .right-course {
        width: 100%;
        padding: 40px;
    }

    .member-course {
        padding-top: 25px;
    }

    .left-course {
        display: none;
    }

    .gradient-black {
        bottom: 69px;
    }

    .label-course {
        font-size: 12px;
    }

    .course-selection {
        flex-direction: column-reverse;
        padding: 40px;
        width: fit-content;
    }

    .left-course-selection {
        flex-wrap: wrap;
        justify-content: center;
    }

    .wrapper-available-course {
        padding-top: 30px;
        padding-bottom: 55px;
    }

    .right-course-selection {
        font-size: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }


    .card-title {
        font-size: 12px;
    }

    .testimoni-card {
        width: fit-content;
        flex-direction: column;
    }

    .user-name {
        font-size: medium;
    }

    .card-comment {
        width: 360px;
    }

    .footer {
        padding: 40px;
        flex-direction: column;
        width: min-content;
    }

    .footer-left {
        gap: 20px;
        width: 300px;
    }

    .footer-nav {
        flex-wrap: wrap;
    }

    .footer-nav h3 {
        font-size: 18px;
    }

}


/* mobile responsive */
@media screen and (max-width: 450px) {
    html {
        font-size: 55%;
    }
    
}